@model IEnumerable<SirpoLR4.Models.Charter>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-4">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-4">РАСПИСАНИЕ ЧАРТЕРОВ</h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-8">
            <form method="get" class="d-flex">
                <input type="text" name="searchString" placeholder="Поиск по имени чартера" class="form-control me-2" style="width: auto;" />
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>
    </div>
    <div class="row">
        @foreach (var charter in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm charter-card">
                    <div class="card-body">
                        <h5 class="card-title">Маршрут: @charter.CititesPath</h5>
                        <p class="card-text">
                            <strong>Цена:</strong> @charter.Price руб.<br />
                            <strong>Дата чартера:</strong> @charter.CharterDateTime.ToUniversalTime().ToString("yyyy-MM-dd HH:mm")<br />
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
